div.todo-input{
    border-radius: 5px;
    background-color: #27ae60;
    padding: 20px;
}

div.todo-input > form > input {
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

ul.todo-list > li > span {
    font-size: 30px;

}
ul.finish-list > li > span {
    font-size: 30px;
    color: #3c6382;

}
.del-todo-button {
    margin-right: 20px;
    margin-left: 5px;
}
.return-todo-button, .chk-todo-button {
    margin-right: 0;
    margin-left: 0;
}

h1.todo-title {
    font-size: 55px;
}

div#whole-todo-list {
    position: absolute;
    top: 20%;
    left: 20%;
}